#navbar .container .logo {
  float: none;
  display: inline;
  padding-left: 30%;
  padding-right: 50%;
}
#navbar h1 {
  float: none;
  text-align: center;
}
#navbar ul,
#navbar ul li {
  float: none;
}
#navbar ul li a {
  padding: 35px 0px;
}
